.auth-grid{
    @apply grid grid-rows-[100px_minmax(150px,_1fr)_350px] grid-flow-col;
    @apply auto-rows-max;
}

.auth-title {
    @apply mb-1.5 mt-1.5 text-4xl text-center;
}

.auth-input-grid {
    @apply grid grid-cols-2;
    @apply mb-4 w-full rounded-lg bg-white;
    @apply flex items-stretch relative
}

.login-form {
    @apply row-span-2 row-start-3;
    @apply bg-[#2a2b38] flex justify-center items-center;
    @apply w-4/5 h-full p-10 mt-2 mb-5 rounded-lg ;
    @apply m-auto;
}

.register-form {
    @apply row-span-3 row-start-3;
    @apply bg-[#2a2b38] flex justify-center items-center;
    @apply w-4/5 h-full p-10 mt-2 mb-5 rounded-lg ;
    @apply m-auto;
}

.auth-icon{
    @apply bg-white text-gray-700 ;
    @apply text-4xl pl-3 pr-3 rounded-lg;
}

.auth-input {
    @apply rounded-lg ml-5 w-11/12;
    @apply text-2xl text-black;
}

.auth-button-placement {
    @apply flex content-center items-center;
}

.auth-button {
    @apply bg-[#ffeba7] text-[#102770];
    @apply transition-all duration-500;
    @apply rounded-lg text-2xl w-10/12;
    @apply mt-10;
}
.auth-button:hover {
    @apply bg-[#102770] text-[#ffeba7];
}

.auth-mode {
    @apply row-start-2;
    @apply content-center;
}

.auth-mode-label {
    @apply text-center;
}

.auth-mode-toggle {
    @apply min-w-fit content-center justify-center;
    @apply flex m-auto mt-2;
}

.auth-mode-login {
    @apply mr-2;
}

.auth-mode-signup {
    @apply mt-2;
}

.auth-toggle {
    @apply flex justify-center items-center mt-2;
}

.auth-checkbox {
  @apply hidden;
}

.switch {
    @apply relative inline-block w-16 h-9;
}
  
  .slider {
    @apply absolute cursor-pointer;
    @apply top-0 bottom-0 left-0 right-0;
    @apply bg-[#ccc] duration-1000;    
}
  
  .slider:before {
    @apply absolute content-[""];
    @apply h-7 w-7 left-1 bottom-1;
    @apply bg-white duration-1000;
}
  
  input:checked + .slider {
    @apply bg-[#2196F3];
}

  input:focus + .slider {
    @apply shadow-sm shadow-[#2196F3];
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  .slider.round {
    @apply rounded-2xl;
}
  
  .slider.round:before {
    @apply rounded-full;
}

  .register-component {
    @apply hidden;
}

  .register-component.in {
    @apply duration-1000 inline;
    @apply ease-in transition-all;
    transform-style: preserve-3d;
}

  .register-component.out {
    @apply duration-1000 hidden;
    transform-style: preserve-3d;
}