.login-grid{
    @apply grid grid-rows-6 grid-flow-col;
    @apply auto-rows-max;
}

.login-title {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-input-box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.login-form {
    @apply row-span-2 row-start-3;
    background-color: #2a2b38;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 20px;
    margin: auto;
}

.login-icon{
    display:flex;
    align-items: center;
    line-height: 1.5;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1rem/* 20px */;
    line-height: 0.5rem/* 28px */;
    padding-left: 0.5rem/* 12px */;
    padding-right: 0.5rem/* 12px */;
    color: gray;
}

.login-email {
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.login-password {
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeba7;
    color: #102770;
    transition: all 350ms;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 25px;
}
.login-button:hover {
    background-color: #102770;
    color: #ffeba7;
}

.auth-mode {
    @apply row-start-2;
    align-content: center;
    justify-content: center;
}

.auth-mode-label {
text-align: center;
}

.auth-mode-toggle {
    width: fit-content;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 15px;
}

.auth-mode-login {
    margin-right: 20px
}

.auth-mode-signup {
    margin-left: 20px
}

.login-toggle-button {
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

input:checked ~ .dot {
    transform: translateX(100%) rotate(60deg);
    background-color: #102770;
    transition: all 0.5s ease; 
}

input:not(:checked) ~  .dot {
    transform: translateX(0%);
    background-color: #102770 ;
    transition: all 0.5s ease;
}

.auth-toggle-arrow { 
    color: #ffeba7;
    transform: rotate(330deg);
}