{
  "$schema": "http://json.schemastore.org/swcrc",
  "test": ".tsx?$",
  "sourceMaps": "inline",
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "env": {
    "targets": {
      "node": 16
    }
  },
  "jsc": {
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": true,
    "baseUrl": ".",
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": true
    },
    "paths": {
      "*": ["node_modules/*"],
      "~/*": ["src/*"]
    }
  }
}